@charset "utf-8";
*{
	font-family: "맑은 고딕";
}
ul{
	list-style: none;
	padding : 0;
	margin : 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #555a4a;
    background: #a0c73f;
    height:100%;
}

/***************	 header 	*********************/

#header_wrapper {
	width: 100%;
	height: 199px;	
	background: url(../images/header.jpg) no-repeat top center;
}

header{
	position: relative;
	width: 980px;
	height: 199px;		
	padding: 0 10px;
	margin: 0 auto;
	background: url(../images/header.jpg) no-repeat top center;
}

#loginField ul{
	margin: 30px 0 0 0;
	
}
#loginField ul li {
	list-style-type: none; 
	display: block; 
	width: 100px; 
	height: 2em; 
	line-height: 2em;
	float: left;
	vertical-align: middle;
	cursor: pointer;
	color: white;
	font-size: 15px;
}

#loginField ul li a{ 
	text-decoration:none; 
	color: white;
	font-weight: bold;
}
#loginField ul li a:hover{
	color:black;
	font-weight: bold;
}
#loginField .loginFieldGroup{
	text-align: center;
}

#loginField .hide{
	display:none;
}

#loginField .sizeLi{
	width: 80px;	
}
.levelIconPosition{
	margin-right: 10px;
	text-align: right;
	width:25px;
}
#loginField .levelIcon{
	position: relative;
	bottom: 48%;
}

#loginField .loginFieldGroup{
	text-align: center;
}

#title {
	display:block;
	float: left;
	width: 220px;
	padding: 35px 0 0 32px;
}
#title h1{
	margin: 0;
	padding: 0;
}

#title h1 a{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#title h1 a:hover {
	font-weight: bold;	
}

#title h1 a span {
	display: block;
	margin: 0 0 0 80px;
	font-size: 14px;
	color: #416902;
	font-weight: bold;
	letter-spacing: 2px;
}

#title h1 {
	margin:0 auto;
}

#loginField {
	padding-top: 10px;
	height: 43px;
	float:right;
}

#loginBtn{
	border:0;
	width:130px;
	height:20px;
	text-align:center;
	padding-left:26px;
	font-size: 10px;
	color: white; 
	background-image: url('../images/login-button.jpg');
}

#interest_community_name{
	width: 300px;
	font-size: 25px;
	margin: 0 0 10px 650px;
}



/***************   section   ****************/
section{
	width: 920px;
	margin: 0 auto;
}

#searchForm{
	float: right;
	margin-bottom: 10px;
}

#searchAddress{
	width: 300px;
	height: 30px;
}

#encode{
	margin-right:10px;	
}

#map_canvas{
	width:900px;
	height:300px;
	margin: 0 auto;
}

#contentWrapper{
	position:relative;
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0;
	background: url('../images/content.jpg') repeat-y;
}

.regFormDivCss{
	margin-bottom: 15px;
	border: 3px solid #a0c73f;
	padding: 0 0 0 60px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: #FFFAEC;
	box-shadow: 1px 1px 3px 3px #ccc;
	
}

#regFormDiv span{
	margin-left: 5px;
}

#regFormDiv span{
	margin-left: 5px;
}

#regFormDiv span img{
	width: 60px;
}

#regFormDiv textarea{
	width:800px;
	height:100px;
	border: 2px solid #a0c73f;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #FFFCE7;
	box-shadow: 0 1px 1px 0 #ccc;
}

#regFormDiv #address{
	width:800px;
	border: 2px solid #a0c73f;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #FFFCE7;
	box-shadow: 0 1px 1px 0 #ccc;
}

#regFormDiv #miTitle{
	width:500px;
	border: 2px solid #a0c73f;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #FFFCE7;
	box-shadow: 0 1px 1px 0 #ccc;
}

#regFormDiv select{
	border: 2px solid #a0c73f;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #FFFCE7;
	box-shadow: 0 1px 1px 0 #ccc;
}

#regFormDiv input[type="file"]{
	width:500px;
}

#regFormDiv #btnGrp{
	width:500px;
}

#regForm{
	padding-top: 10px;
}

#btnGrp input{
    background-color: #99CF00;
    color:#fff;
	text-align: center;
	cursor: pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00),
		to(#6DB700) );
	border-left: solid 1px #C3F83A;
	border-top: solid 1px #C3F83A;
	border-right: solid 1px #82A528;
	border-bottom: solid 1px #58701B;
}


.mappingInfoTable{
	margin: 5px auto;
	border: 1px solid black;
	width: 98%;
	table-layout: fixed;
}

.mappingInfoTable tr:first-child td:last-child {
	width: auto;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}

.mappingInfoTable tr:first-child td:first-child{
	padding-top: 5%;
}

.mappingInfoTable tr:nth-child(3) td:first-child{
	vertical-align: top;
	font-size: 1px;
}

.mappingInfoTable tr:nth-child(3) td:last-child{
	white-space:nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}

.colCssHead{
	width:6%;
}
.colCssImg{
	width:22%;
}
.colCssDate{
	width:48%;
}
.colCssName{
	width:15%;
}

.detailImg{
	position: relative;
	left: 40%;
	width: 35px;
}

#contentWrapperBottom{
	width: 1000px;
	height: 15px;
	margin: 0 auto;
	background: url('../images/contentBottom.jpg') no-repeat;
}

#regFormDiv{
	padding:0 0 0 60px;
}
#regFormDiv textarea{
	width:800px;
	height:100px;
}

#regFormDiv #address{
	width:800px;
}

#regFormDiv #miTitle{
	width:500px;
}

#regFormDiv input[type="file"]{
	width:500px;
}

#regFormDiv #btnGrp{
	width:500px;
	margin-left: 83%;
}

#investiItemType{
	float:left;
}


#investiItemType ul li{
	float : left;
	list-style-type: none; 
	display: block; 
}
#investiAnsItemListUl{
	float: left;
}

#investiAnsItemListUl label{
	padding : 0;
	margin : 0;
	width: 210px;
	float:left;
}
#investiAnsItemListUl ul li{
	float:left;
}

#regMappingInfoForm{
	margin-top: 15px;	
}

#mainMappingInfoTable{
	border: 1px solid;
	margin: 10px auto;
	width: 880px;
}

.contentIcon{
	width:30px;
	height:30px;
}

.detailContentIcon{
	position: absolute;
	top: 26%;
	left: 48%;
}
.contentPhoto{
	width:200px;
	height:150px;
}

.introMain li img{
	width:800px;
}

/**************** footer   **********************/

footer{
	width: 980px;
	margin: 0 auto;
	padding: 30px 10px;
	text-align: center;
	color: #333333;
}

footer .footerMenu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}
footer a{
	color: #000000;
	text-decoration:none;
}

footer a:hover{
	color: #fff;
	text-decoration:none;
	font-weight: bold;
}

.footerMenu li{
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #000000;
}

.footerMenu li a{
	color: #000000;
	text-decoration:none;
}
.footerMenu li a:hover{
	color: #fff;
	text-decoration:none;
	font-weight: bold;
}

.footerMenu .lastMenu {
	border: none;
}

.createContentAddress{
	width : 700px;
}

/* ********************button********************** */
.button {
 
 /*basic styles*/
 width: 250px;  height: 50px;  color: white; background-color: #99CF00;
 text-align: center;  font-size: 30px;  line-height: 50px;
 	cursor: pointer;
 
 
 /*gradient styles*/
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700));
 background: -moz-linear-gradient(19% 75% 90deg,#6DB700, #99CF00);
 
 /*border styles*/
 border-left: solid 1px #c3f83a;
 border-top: solid 1px #c3f83a;
 border-right: solid 1px #82a528;
 border-bottom: solid 1px #58701b;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700))
 
}
 
.button h3 {
 font-size: 20px;
 line-height: 35px;
 font-family: helvetica, sans-serif;
}
 
.button p {
 font-size: 12px;
 line-height: 14px;
 font-family: helvetica, sans-serif;
}

.button_small {
 font-size: 12px;
 line-height: 14px;
 font-family: helvetica, sans-serif;
 border-radius: 5px;
}
 
 
ul .button {
 font-size: 13px;
 border-radius: 3px;
 line-height: 20px;
 font-family: helvetica, sans-serif;
}
 /* ********************button********************** */