@charset "UTF-8";

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust:none;
}

body {
  background-color: #fff;
  font: 12px Arial;
  margin: 0px;
  padding: 0px;
  color: #323232;
}

.hide{
	display: none;
}

.hidden{
	display: none;
}

body.connected #show_when_not_connected {
 display: none;
}

body.connected #show_when_connected {
 display: block;
}

body.not_connected #show_when_not_connected {
 display: block;
}

body.not_connected #show_when_connected {
 display: none;
}